# Imports

In [1]:
import os
import sys
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

os.chdir('..')
from db_connection.connection import PostgresConnection
from src.df_cleaner import *

Connected to PostgreSQL database!
Connection closed.

In [7]:
import warnings
warnings.filterwarnings('ignore')

# Reading Data

In [10]:
df = pd.read_excel("C:/Users/hp/Documents/10 academy/Week 4/data/BANKS AD DATA.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         21 non-null     object
 1   Post link    21 non-null     object
 2   View         21 non-null     int64
 3   Post Hour    21 non-null     object
 4   Bank         21 non-null     object
 5   Time of day  21 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.1+ KB

In [9]:
df.head()

,Date,Post link,View,Post Hour,Bank,Time of day
0,26/9/2023,https://t.me/tikvahethiopia/81734,239800,10:18:00,BOA,night
1,19/9/2023,https://t.me/tikvahethiopia/81606,258400,06:53:00,BOA,night
2,15/9/2023,https://t.me/tikvahethiopia/81502,269400,03:56:00,BOA,evening
3,2023-08-09 00:00:00,https://t.me/tikvahethiopia/81338,219400,10:50:00,BOA,afternoon
4,2023-05-09 00:00:00,https://t.me/tikvahethiopia/81252,255900,01:19:00,BOA,afternoon