In [26]:
import sys
import os
import pandas as pd
import datetime as dt
from dotenv import load_dotenv
import pyodbc
import numpy as np
import matplotlib.pyplot as plt
import psycopg2
from sqlalchemy import create_engine
os.chdir('..')
from db_connection.connection import PostgresConnection
from src.df_cleaner import *
from src.df_outlier_handler import OutlierHandler

ModuleNotFoundError: No module named 'src'

In [21]:
os.chdir('..')
sys.path.append(os.path.abspath(os.path.join('../src')))


from src.df_outlier_handler import OutlierHandler

ModuleNotFoundError: No module named 'src'

In [ ]:
%matplotlib inline
warnings.filterwarnings("ignore")

In [19]:
db = PostgresConnection(dbname='postgres', user='postgres', password='postgres')
db.connect()

# load BOA App review data 
query = "SELECT * FROM review_data"
result = db.execute_query(query)

df = pd.DataFrame(result, columns=[desc[0] for desc in db.cursor.description])

Connected to PostgreSQL database!

# General Statistics

In [5]:
df.size

4500

In [6]:
df.head()

,review_id,user_name,user_image,likes,review_created_version,created_at,reply_content,replied_at,app_version,score,comments,keywords,lda_category,sentiment,insight
0,738b6d3a-2d7f-4a82-bfe2-dcf32591f944,NAHOM NIGUSSIE,https://play-lh.googleusercontent.com/a-/ALV-U...,1,None,2024-05-21 18:38:28,None,None,None,2,Slow and buggy crashed all the time need a lot...,None,None,None,None
1,e20abe49-8fe7-42fe-af3a-91399875b21a,Abbatu Ermias,https://play-lh.googleusercontent.com/a/ACg8oc...,0,24.04.23,2024-05-21 05:06:05,None,None,24.04.23,5,Awe ሃረፍ nawe,None,None,None,None
2,55c833c8-a942-47bb-aaaa-e022f39e28af,Habtsh Darge,https://play-lh.googleusercontent.com/a/ACg8oc...,0,None,2024-05-20 08:07:49,None,None,None,1,በጣም ቀፋፊ አፕ ነው ። ሰርቶ አያውቅም ። በጣም ብዙ ችግር አለበት ከአ...,None,None,None,None
3,d62d6d95-2900-4038-aa26-c9b42835c971,Usman,https://play-lh.googleusercontent.com/a/ACg8oc...,0,None,2024-05-19 16:27:13,None,None,None,1,This application is very bad . Please modify t...,None,None,None,None
4,20c4de51-f5cd-41f3-b21a-efdf8cb4463e,Eskender Million,https://play-lh.googleusercontent.com/a-/ALV-U...,1,24.04.23,2024-05-17 20:37:40,None,None,24.04.23,1,"It has a very complex, inconvenient to use, an...",None,None,None,None

In [7]:
df.shape

(300, 15)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   review_id               300 non-null    object
 1   user_name               300 non-null    object
 2   user_image              300 non-null    object
 3   likes                   300 non-null    int64
 4   review_created_version  213 non-null    object
 5   created_at              300 non-null    object
 6   reply_content           0 non-null      object
 7   replied_at              0 non-null      object
 8   app_version             213 non-null    object
 9   score                   300 non-null    int64
 10  comments                300 non-null    object
 11  keywords                0 non-null      object
 12  lda_category            0 non-null      object
 13  sentiment               0 non-null      object
 14  insight                 0 non-null      object
dtypes: int64(2), object(13)
memory usage: 35.3+ KB

In [9]:
df.describe()

            likes     score
count  300.000000  300.0000
mean     5.000000    3.2300
std     34.223738    1.8225
min      0.000000    1.0000
25%      0.000000    1.0000
50%      1.000000    4.0000
75%      1.000000    5.0000
max    549.000000    5.0000

# Missing Values